# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

supabase/.temp/cli-latest

supabase/.temp/gotrue-version

supabase/.temp/pooler-url

supabase/.temp/postgres-version

supabase/.temp/project-ref

supabase/.temp/rest-version

supabase/.temp/storage-version

supabase/.branches/

docs/PodcastSetupGuide-CentenarianOSPodcastSetupGuide-centos_podcast_guide.md

docs/PodcastSetupGuide-CentenarianOSPodcastSetupGuide-centos_podcast_guide.pdf

docs/Cent OS Week 20251013.pdf

app/dashboard/fuel/app-dashboard-fuel-page.tsx

app/dashboard/fuel/meal-prep/app-dashboard-fuel-meal--prep-page.tsx

app/dashboard/fuel/meal-prep/ORIGINAL-app-dashboard-fuel-page.tsx

docs/mobile-ui-refactor/

app/dashboard/engine/analytics/app-dashboard-engine-analytics-page.tsx

app/dashboard/layout-old.tsx

app/dashboard/roadmap/layout-new.tsx

docs/2 Week Refactor/

docs/workingFiles/CentOS Courses.zip

docs/workingFiles/Tutorial Prompts.rtf
